[project]
	description = A working example of Twitter -> Kafka -> Spark Streaming integration by a beginner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cvarikuti
[access "refs/for/refs/*"]
	read = group user/cvarikuti
	push = group user/cvarikuti
	label-Code-Review = -2..+2 group user/cvarikuti
	label-Verified = -1..+1 group user/cvarikuti
	rebase = group user/cvarikuti
	removeReviewer = group user/cvarikuti
	submit = group user/cvarikuti
[access "refs/heads/*"]
	read = group user/cvarikuti
	create = group user/cvarikuti
	push = +force group user/cvarikuti
	pushMerge = group user/cvarikuti
[access "refs/tags/*"]
	push = group user/cvarikuti
	push = +force group user/cvarikuti
